<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />

    {% if title %}
      <title>A &middot; Taker - {{ title }}</title>
    {% else %}
      <title>A &middot; Taker</title>
    {% endif %}
  </head>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='icons/icon.png') }}" height="30" width="30" alt="Logo" />
      </a>
      <a class="navbar-brand" href="{{ url_for('home') }}"><b>A &middot; T A K E R</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
            </li>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

  <body>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 py-4">
          {% with messages = get_flashed_messages(with_categories=true) %}
            <div class="col-md-12">
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          {% endwith %}
          {% block content %} {% endblock %}
        </div>

        <div class="col-md-4 py-4">
          <div class="content-section" style="text-align: center;">
            <div class="mb-2 pt-2 py-2"><h4 style="color: rgb(66, 54, 50);">Important Links</h4></div>
            
            <ul class="list-group mb-4">
              <li class="list-group-item list-group-item-light">
                <a style="text-decoration: none;" href="#">Announcements</a>
              </li>
              <li class="list-group-item list-group-item-light">
                <a style="text-decoration: none;" href="#">Academic Calendar</a>
              </li>
              <li class="list-group-item list-group-item-light">
                <a style="text-decoration: none;" href="#">Terms & Conditions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
